<!DOCTYPE html>
<html lang="en" ng-app="timeTracker" ng-controller="ParentCtrl" >
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="/app/public/libs/bootstrap/dist/css/bootstrap.min.css"/>
  <link rel="stylesheet" href="/app/public/libs/bootstrap/dist/css/bootstrap-theme.min.css">
  <link href="/app/public/libs/todc-bootstrap/dist/css/todc-bootstrap.min.css" rel="stylesheet">  
  <link href="/app/css/app.css" rel="stylesheet">
  <title>Time Tracker</title>
</head>
<body>

 <div class="col-xs-10">
  <h4>Task Reports</h4>
</div>

<div class="col-xs-12">
  <div class="table-responsive">

    <table ng-if="true" class="table table-striped table-bordered table-condensed table-hover">
      <thead>
        <tr>
          <th width="20%">Name</th>
          <th width="10%">Status</th>
          <th width="20%">Details</th>
          <th width="10%">Start Time</th>
          <th width="10%">End Time</th>
          <th width="10%">Total Time(MIN)</th>
          <th/>
        </tr>
      </thead>
      <tbody>
        <!--dir-paginate="empsample in empsamples | itemsPerPage: perPageRec " current-page="currentPage" -->    
        <tr ng-repeat="task in taskReportList">
          <td>{{task.taskname}}</td>
          <td>
            <div ng-if="task.status=='R'">Running</div>
            <div ng-if="task.status=='C'">Closed</div>
          </td>
          <td>{{task.taskdetails}}</td>
          <td>{{task.starttime}}</td>
          <td>{{task.endtime}}</td>
          <td>{{task.totaltime}}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
<!-- Scripts Block -->
<script type="text/javascript" src="/app/public/libs/angular/angular.min.js"></script>
<script type="text/javascript" src="/app/public/libs/angular-route/angular-route.min.js"></script>
<script type="text/javascript" src="/app/public/libs/jquery/dist/jquery.min.js"></script>
<script type="text/javascript" src="/app/public/libs/bootstrap/dist/js/bootstrap.min.js"></script>
<script type="text/javascript" src="/app/public/libs/angular-websql/angular-websql.min.js"></script>
<script type="text/javascript" src="/app/scripts/app.js"></script>
<!-- <script type="text/javascript" src="scripts/task/tasknoteController.js"></script> -->

</body>
</html>
