<!DOCTYPE html>
<html lang="en" ng-app="timeTracker" ng-controller="ParentCtrl" >
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="/app/public/libs/bootstrap/dist/css/bootstrap.min.css"/>
  <link rel="stylesheet" href="/app/public/libs/bootstrap/dist/css/bootstrap-theme.min.css">
  <link href="/app/public/libs/todc-bootstrap/dist/css/todc-bootstrap.min.css" rel="stylesheet">
  <!-- <link href="public/libs/todc-bootstrap/examples/non-responsive/non-responsive.css" rel="stylesheet"> -->
  <link href="/app/css/app.css" rel="stylesheet">
  <title>Time Tracker</title>
</head>
<body >

 <!-- Begin page content -->


  {{1+2}}

  <!-- Scripts Block -->
  <script type="text/javascript" src="/app/public/libs/angular/angular.min.js"></script>
  <script type="text/javascript" src="/app/public/libs/angular-route/angular-route.min.js"></script>
  <script type="text/javascript" src="/app/public/libs/jquery/dist/jquery.min.js"></script>
  <script type="text/javascript" src="/app/public/libs/bootstrap/dist/js/bootstrap.min.js"></script>
  <script type="text/javascript" src="/app/scripts/app.js"></script>
  <!-- <script type="text/javascript" src="scripts/task/tasknoteController.js"></script> -->


</body>
</html>
