<!DOCTYPE html>
<html lang="en" ng-app="timeTracker" ng-controller="ParentCtrl" >
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="/app/public/libs/bootstrap/dist/css/bootstrap.min.css"/>
  <link rel="stylesheet" href="/app/public/libs/bootstrap/dist/css/bootstrap-theme.min.css">
  <link href="/app/public/libs/todc-bootstrap/dist/css/todc-bootstrap.min.css" rel="stylesheet">
  <link href="/app/css/app.css" rel="stylesheet">
  <title>Time Tracker</title>
</head>
<body >

 <!-- Begin page content -->

  <div class="container" >

         <div class="row" style="margin-bottom: 6px;">
              <div class="col-xs-12">
                <div class="form-group">
                  <label class="col-xs-4" style="font-weight:normal;">Task Name</label>
                  <div class="col-xs-8" ng-if="disableflag=='true'">
                    <input type="text" class="form-control" id="task" placeholder="Enter task name " ng-model="task.taskname" 
                     ng-disabled="true">
                  </div>
                  <div class="col-xs-8" ng-if="disableflag!='true'">
                    <input type="text" class="form-control" id="task" placeholder="Enter task name " ng-model="task.taskname" 
                     >
                  </div>
                </div>
              </div>
            </div>
        <div class="row" style="margin-bottom: 6px;">
            <div class="col-xs-12">
              <div class="form-group">
                <label for="" class="col-xs-4" style="font-weight:normal"> Priority </label>
                <div class="col-xs-8" ng-if="disableflag=='true'">               
                            <select name="priority" ng-model="task.priority" ng-options="item.id as item.name for item in priorities"
                            class="form-control scrollwidth" ng-disabled="{{disableflag}}">
                              <option value="">Select</option>
                            </select>
               </div>
               <div class="col-xs-8" ng-if="disableflag!='true'">               
                            <select name="priority" ng-model="task.priority" ng-options="item.id as item.name for item in priorities"
                            class="form-control scrollwidth" >
                              <option value="">Select</option>
                            </select>
               </div>
             </div>
           </div>
         </div>


        <div class="row" style="margin-bottom: 6px;" >
            <div class="col-xs-12">
              <div class="form-group">
                <label for="" class="col-xs-4" style="font-weight:normal"> Reminder in Minutes</label>
                <div class="col-xs-8" ng-if="disableflag=='true'">
             
                            <select name="reminder" ng-model="task.reminder" ng-options="item.id as item.value for item in reminders"
                            class="form-control scrollwidth" ng-disabled="{{disableflag}}">
                              <option value="">Select in minutes</option>
                            </select>
               </div>
               <div class="col-xs-8" ng-if="disableflag!='true'">
             
                            <select name="reminder" ng-model="task.reminder"  ng-options="item.id as item.value for item in reminders"
                            class="form-control scrollwidth" ng-disabled="{{disableflag}}">
                              <option value="">Select in minutes</option>
                            </select>
               </div>
             </div>
           </div>
         </div>
            <div class="row" style="margin-bottom: 20px;">
              <div class="col-xs-12">
                <div class="form-group">
                  <label class="col-xs-4" style="font-weight:normal;" >Task Details</label>
                  <div class="col-xs-8" ng-if="disableflag=='true'">
                   <textarea  class="form-control" id="details"  placeholder="Entet taks in details" ng-model="task.taskdetails" rows="4" ng-disabled="{{disableflag}}"></textarea>
                 </div>
                 <div class="col-xs-8" ng-if="disableflag!='true'">
                   <textarea  class="form-control" id="details"  placeholder="Entet taks in details" ng-model="task.taskdetails" rows="5" ng-disabled="{{disableflag}}"></textarea>
                 </div>
               </div>
             </div>
           </div>

         
           <div class="row" style="margin-bottom: 20px;" ng-if="disableflag=='true'">
             <div class="col-xs-12">
                  <div class="form-group">                  
                    <span style="color:blue; padding-left:2.5%;" class="col-xs-12" >This task is started since                     
                      {{task.starttime| date : 'dd MM yyyy, H:mm:ss'}}</span>
                  </div>
            </div>
          </div>

         <div class="pull-right" ng-if="disableflag=='true'">
          <button class="btn btn-default btn-sm"  ng-click="continueTask()" >Continue</button>
          <button class="btn btn-default btn-sm" ng-click="closeTask()"
          translate="global.stop">Stop</button>
        </div>
        <div class="pull-right" ng-if="disableflag!='true'">
          <button class="btn btn-default btn-sm"  ng-click="saveTask()" >Create</button>
          <button class="btn btn-default btn-sm" ng-click="reset()"
          translate="global.cancel">Reset</button>
        </div>

  </div>



  <!-- Scripts Block -->
  <script type="text/javascript" src="/app/public/libs/angular/angular.min.js"></script>
  <script type="text/javascript" src="/app/public/libs/angular-route/angular-route.min.js"></script>
  <script type="text/javascript" src="/app/public/libs/jquery/dist/jquery.min.js"></script>
  <script type="text/javascript" src="/app/public/libs/bootstrap/dist/js/bootstrap.min.js"></script>
  <script type="text/javascript" src="/app/scripts/app.js"></script>
  <script type="text/javascript" src="/app/public/libs/angular-websql/angular-websql.min.js"></script>
  


</body>
</html>
